@import "tailwindcss";

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 1rem));
  }
}

.animate-scroll {
  animation: scroll var(--duration, 40s) var(--direction, forwards) linear infinite;
}